html, body {
	height: 100%;
}

body {
	font-family: 'Muli', sans-serif;
	font-size: 16px;
}

@media (min-width: 576px) {
  #details {
		font-size: 1rem;
	}
}

section {
	padding: 1.5rem;
	margin: 0;
}

.banner {
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	padding-top: 0;
	padding-bottom: 0
}

#camp.banner {
  background-image: url("../img/banner-mobile.png");
	height: 100%;
	position: relative;
}

@media (min-width: 576px) {
  #camp.banner {
    background-image: url("../img/banner-web.png");
		height: 100%;
  }
}

#living.banner {
	background-image: url("../img/living.jpg");
	height: 100%;
	max-height: 360px;
}

@media (min-width: 576px) {
	#living.banner {
		max-height: 480px;
	}
}

#faqs ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.arrow-down {
	position: absolute;
	bottom: 0;
	margin-bottom: 60px;
	width: 30px;
	margin-left: -15px;
}

.question {
	margin: 0.3rem 0;
	display: flex;
}

.question p {
	margin-bottom: 0;
}

#faqs .answer {
	margin: 0.3rem 0;
	padding: 0;
}

#hsregform {
	background-color: #DEECE2;
}

input.form-control:disabled {
	color: #000000;
	background-color: #ffffff;
}

a:hover {
	cursor: pointer;
}

.container {
	max-width: 720px;
}

.section-title {
	text-align: center;
}

#details {
	background-color: white;
	color: black;
}

.camp-details {
	text-transform: uppercase;
	padding-top: 1rem;
}

section#youthlive {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}
